// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
//$background-color:  #eab206;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background: rgba(234,178,6,0.8);

  h2 {
    font-size: 3.8em;
    line-height: 1em;
  }

}
