<!-- Nagiosxi -->
  <div class="gridster">
    <ul style="height: 650px !important">
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="teambeachbody_status" data-view="Nagiosxi" data-title="Teambeachbody"></div>
     </li>

     <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
       <div data-id="shakeology_status" data-view="Nagiosxi" data-title="Shakeology"></div>
     </li>

     <li data-row="1" data-col="3" data-sizex="2" data-sizey="1" style="margin-left:4px">
       <div data-id="wordpress_status" data-view="Clock"></div>
       <!-- <div class="timeBox">
					11:32:05<br>
					<span>Monday, 25 2015</span>
        </div> -->
     </li>

     <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="wordpress_status" data-view="Nagiosxi" data-title="Wordpress"></div>
     </li>

     <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
       <div data-id="forums_status" data-view="Nagiosxi" data-title="Forums"></div>
     </li>

     <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
       <div data-id="digital_status" data-view="Nagiosxi" data-title="Ripple/Digital"></div>
     </li>

     <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
       <div data-id="bydesignFlag_status" data-view="Nagiosxi" data-title="ByDesign"></div>
     </li>

     <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="icentrisFlag_status" data-view="Nagiosxi" data-title="iCentris"></div>
     </li>

     <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
       <div data-id="marketliveFlag_status" data-view="Nagiosxi" data-title="Marketlive"></div>
     </li>

     <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
       <div data-id="oracleebsFlag_status" data-view="Nagiosxi" data-title="Oracle EBS"></div>
     </li>

     <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
       <div data-id="chasepaymentechFlag_status" data-view="Nagiosxi" data-title="Chase Paymentech"></div>
     </li>


    </ul>
  </div>
