<!-- Nagiosxi -->
<div class="gridster">
  <ul>
   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="teambeachbody_status" data-view="Nagiosxi" data-title="Teambeachbody" style="background-color:#8181F7;"></div>
   </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="teambeachbody_status" data-view="Text" data-title="Shakeology" style="background-color:#ccc;"></div>
   </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="teambeachbody_status" data-view="Text" data-title="Wordpress" style="background-color:#ccc;"></div>
   </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="teambeachbody_status" data-view="Text" data-title="Forums" style="background-color:#ccc;"></div>
   </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="teambeachbody_status" data-view="Text" data-title="Ripple/Digital" style="background-color:#ccc;"></div>
   </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="teambeachbody_status" data-view="Text" data-title="ByDesign" style="background-color:#ccc;"></div>
   </li>

   <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="teambeachbody_status" data-view="Text" data-title="iCentris" style="background-color:#ccc;"></div>
   </li>

   <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="teambeachbody_status" data-view="Text" data-title="Marketlive" style="background-color:#ccc;"></div>
   </li>

  </ul>
</div>
