<!-- Nagiosxi -->
<div class="gridster">
  <ul>
   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="teambeachbody_status" data-view="Nagiosxi" data-title="Teambeachbody" style="background-color:#8181F7;"></div>
   </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="shakeology_status" data-view="Nagiosxi" data-title="Shakeology" style="background-color:#8181F7;"></div>
   </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="wordpress_status" data-view="Nagiosxi" data-title="Wordpress" style="background-color:#8181F7;"></div>
   </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="forums_status" data-view="Nagiosxi" data-title="Forums" style="background-color:#8181F7;"></div>
   </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="digital_status" data-view="Nagiosxi" data-title="Ripple/Digital" style="background-color:#8181F7;"></div>
   </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="bydesignFlag_status" data-view="Nagiosxi" data-title="ByDesign" style="background-color:#8181F7;"></div>
   </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="icentrisFlag_status" data-view="Nagiosxi" data-title="iCentris" style="background-color:#8181F7;"></div>
   </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="marketliveFlag_status" data-view="Nagiosxi" data-title="Marketlive" style="background-color:#8181F7;"></div>
   </li>

  <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="oracleebsFlag_status" data-view="Nagiosxi" data-title="Oracle EBS" style="background-color:#8181F7;"></div>
   </li>


  </ul>
</div>
